.body {
	background-color: #B6B6B6;
}
.header {
	background-color: #B2DFDB;
	height: 100px;
	width: 100%;
}
.title {
	color: #00796B;
	text-align: center;
	font-size: 54px;
	vertical-align: middle;
}

label {
	width: 70px;
}
p {
	color:#727272;
}
.card {
	border: medium solid #536DFE;
	border-radius: 15px;
	padding: 5%;
	background-color: #FFFFFF;
	width: 625px;
	max-height: 500px;
	margin:5px;	
	color: #212121;
}

.avatar {
	height: 200px;
	border:thin solid #536DFE;
	border-radius: 5px;
}

.inline {
	display: inline;
}
.center {
	text-align: center;
}
.margin {
	margin: 7px 5px 7px 5px;
	
}

